<h1>Olá mundo! </h1>
{{#if isLogged}}
<h1>seja bem-vindo {{ nome }}</h1>
{{/if}}
<h2>Funcionou denovo</h2>

<p class="paragrafo" id="p1">Paragrafo</p>
<p class="paragrafo">Paragrafo2</p>
<h4 class="especial">Olha noix aqui ... :D</h4>
<table>
    <thead>
        <th>Teste</th>
        <th>Teste2</th>
        <th>Teste3</th>
    </thead>
    <tbody>
        <tr>Dado</tr>
        <tr>Dado1</tr>
        <tr>Dado2</tr>
    </tbody>
</table>